# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/

# Environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# Results
results/

# Logs
*.log

# IDE
.idea/

# Temporary files
*.tmp
*.swp
